/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, D:/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, D:/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, D:/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, D:/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, D:/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, D:/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, D:/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, D:/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, D:/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, sass/screen.scss */
html {
  font-family: sans-serif;
  font-size: 12px;
  color: #666;
  overflow: hidden;
}

/* line 17, sass/screen.scss */
h1 {
  font-size: 40px;
}

/* line 21, sass/screen.scss */
h2 {
  font-size: 30px;
}

/* line 25, sass/screen.scss */
h3 {
  font-size: 20px;
  color: #aaa;
}

/* line 30, sass/screen.scss */
h4 {
  display: block;
  font-weight: bold;
  clear: both;
  color: #000;
  padding: 5px;
  padding-top: 25px;
}

/* line 39, sass/screen.scss */
#main {
  position: absolute;
  left: 0;
  width: 30%;
  height: 100%;
  overflow: auto;
  background: #fff;
  -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
}
/* line 47, sass/screen.scss */
#main div.inner {
  padding: 20px;
}

/* line 52, sass/screen.scss */
#live {
  position: absolute;
  width: 70%;
  height: 100%;
  right: 0;
  bottom: 0;
}
/* line 58, sass/screen.scss */
#live iframe {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

/* line 68, sass/screen.scss */
label {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  padding-top: 10px;
  line-height: 20px;
}
/* line 74, sass/screen.scss */
label em {
  color: #888;
  font-style: italic;
  font-size: 11px;
}
/* line 79, sass/screen.scss */
label.delegate {
  position: relative;
  width: 40%;
  height: 20px;
  float: left;
  padding: 10px 0px 10px 30px;
  margin-right: 10px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  line-height: 11px;
  cursor: pointer;
  -webkit-transition: color 250ms, background 250ms;
  -moz-transition: color 250ms, background 250ms;
  -o-transition: color 250ms, background 250ms;
  transition: color 250ms, background 250ms;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 92, sass/screen.scss */
label.delegate:hover {
  color: #fff;
  background: #333;
}
/* line 96, sass/screen.scss */
label.delegate input {
  position: absolute;
  left: 5px;
  top: 5px;
}
/* line 101, sass/screen.scss */
label.delegate span {
  font-weight: normal;
  font-size: 10px;
  color: #999;
  font-style: italic;
}
/* line 108, sass/screen.scss */
label.checkbox {
  width: 100%;
}

/* line 113, sass/screen.scss */
p.info {
  font-size: 11px;
  color: #888;
  padding: 10px 0;
}

/* line 119, sass/screen.scss */
input[type=text], select, textarea {
  width: 60%;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25) inset;
  padding: 5px;
}

/* line 126, sass/screen.scss */
textarea {
  height: 100px;
}

/* line 130, sass/screen.scss */
input[type=submit], input[type=button] {
  padding: 5px 25px;
  border: 1px solid #080;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00ff00), color-stop(100%, #00aa00));
  background-image: -webkit-linear-gradient(#00ff00, #00aa00);
  background-image: -moz-linear-gradient(#00ff00, #00aa00);
  background-image: -o-linear-gradient(#00ff00, #00aa00);
  background-image: linear-gradient(#00ff00, #00aa00);
  color: #fff;
  display: block;
  width: 200px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin: auto;
}

/* line 146, sass/screen.scss */
input[type=button] {
  float: right;
}

/* line 150, sass/screen.scss */
div.own-type {
  display: none;
}

/* line 154, sass/screen.scss */
form {
  margin: 50px 0;
}

/* line 158, sass/screen.scss */
fieldset {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  background: #fff;
  margin-bottom: 20px;
}
/* line 164, sass/screen.scss */
fieldset.type {
  display: none;
}

/* line 169, sass/screen.scss */
legend {
  font-weight: bold;
  color: #000;
}

/* line 174, sass/screen.scss */
div.error {
  border: 1px solid #800;
  background: #fcc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  color: #400;
  line-height: 20px;
  margin-top: 30px;
}
/* line 182, sass/screen.scss */
div.error h4 {
  padding: 0;
  color: #400;
}
/* line 186, sass/screen.scss */
div.error ul {
  list-style-type: disc;
  margin-left: 20px;
}

/* line 192, sass/screen.scss */
ul.accordeon {
  margin: 20px;
}
/* line 194, sass/screen.scss */
ul.accordeon h4 {
  background: #eee;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 0;
  cursor: pointer;
}
/* line 200, sass/screen.scss */
ul.accordeon h4 em {
  float: right;
  font-style: italic;
  font-weight: normal;
  color: #888;
}
/* line 207, sass/screen.scss */
ul.accordeon div.code {
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
  display: none;
}
/* line 212, sass/screen.scss */
ul.accordeon div.code.expanded {
  display: block;
}
/* line 216, sass/screen.scss */
ul.accordeon xmp {
  margin: 0;
  font-family: 'Consolas', monospace;
}
